<template>
    <app-layout>
    <div class="bg-white">
    <div class="max-w-7xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:flex-col sm:align-center">
        <h1 class="text-5xl font-extrabold text-gray-900 sm:text-center">Pilih Paket Membership</h1>
      
      </div>
      <div class="mt-12 space-y-4 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-4">
        
          <div v-for="item in plans" class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
            <div class="p-6">
              <h2 class="text-lg leading-6 font-medium text-gray-900">{{item.title}}</h2>
              <p class="mt-4 text-sm text-gray-500">{{item.description}}</p>
              <p class="mt-8">
                <span class="text-4xl font-extrabold text-gray-900">Rp.{{Math.ceil(item.price / 1000)}}k</span>
                <span class="text-base font-medium text-gray-500">/{{item.time}} {{item.time_unit}}</span>
              </p>
              <button @click="pick(item.id)"  class="mt-8 block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">{{item.call_to_action_text}}</button>
            </div>
            <div class="pt-6 pb-8 px-6" v-if="item.point_includes.length">
              <h3  class="text-xs font-medium text-gray-900 tracking-wide uppercase">What's included</h3>
              <ul class="mt-6 space-y-4">
                
                  <li class="flex space-x-3" :key="note" v-for="note in item.point_includes">
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" x-description="Heroicon name: check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
  <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
</svg>
                    <span class="text-sm text-gray-500">{{note}}.</span>
                  </li>
                 
                
              </ul>
            </div>
          </div>
         
        
      </div>
    </div>
  </div>
  </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'  
    import { Inertia } from '@inertiajs/inertia' 
    export default {
        components: {
            AppLayout
        },
        props : {
            plans : Object
        },
        data:()=>({
           user : {},
        }),
        mounted() { 
             
    },
    methods:{ 
      pick(id){
        Inertia.post('/sale',{plan : id})
      }
      }
    }
</script>
