<template>
    <app-layout>
        <template #header>

        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="py-12">
                    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                            <div>
                                <div class="p-6 sm:px-20 py-12 bg-white border-b border-gray-200">

                                    <form @submit.prevent="submitForm" class="space-y-8 divide-y divide-gray-200">
                                        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                                            <div>
                                                <div>
                                                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                        PLAN FORM
                                                    </h3>
                                                    <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                                        isi informasi ini untuk membuat plan penawaran
                                                    </p>
                                                </div>

                                                <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">

                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="title"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Title
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="text" v-model="plan.title" name="title"
                                                                id="title"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="description"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Deskripsi
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <textarea id="description" name="description"
                                                                v-model="plan.description" n rows="3"
                                                                class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md"></textarea>
                                                            <p class="mt-2 text-sm text-gray-500">Write a few sentences
                                                                about plan.</p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="website_number"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Jumlah Website
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="number" v-model="plan.website_number"
                                                                name="website_number" id="website_number"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="max_monthly_traffic"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Maksimal Traffic Sebulan
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="number" v-model="plan.max_monthly_traffic"
                                                                name="max_monthly_traffic" id="max_monthly_traffic"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="max_hourly_traffic"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Maksimal Traffic Sejam 
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="number" v-model="plan.max_hourly_traffic"
                                                                name="max_hourly_traffic" id="max_hourly_traffic"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                             
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="max_monthly_transfer"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Maksimal Bandwidth Sebulan (in bytes)
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="number" v-model="plan.max_monthly_transfer"
                                                                name="max_monthly_transfer" id="max_monthly_transfer"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                            <p class="mt-2 text-sm text-gray-500">  {{Math.ceil(plan.max_monthly_transfer / 1000000)}} MB / bulan</p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="max_hourly_transfer"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Maksimal Bandwidth Sejam  (in bytes)
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="number" v-model="plan.max_hourly_transfer"
                                                                name="max_hourly_transfer" id="max_hourly_transfer"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                             <p class="mt-2 text-sm text-gray-500">  {{Math.ceil(plan.max_hourly_transfer / 1000000)}} MB / jam</p>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="price"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Harga
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="number" v-model="plan.price" name="price"
                                                                id="price"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="fake_price"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Harga Coret
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="number" v-model="plan.fake_price"
                                                                name="fake_price" id="fake_price"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="call_to_action_text"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Call to Action Text
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="text" v-model="plan.call_to_action_text"
                                                                name="call_to_action_text" id="call_to_action_text"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="time"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Waktu
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <div class="max-w-lg flex rounded-md shadow-sm">

                                                                <input type="number" v-model="plan.time" name="time"
                                                                    id="time"
                                                                    class="flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0 rounded-none rounded-l-md sm:text-sm border-gray-300">
                                                                <span class=" ">
                                                                    <select id="time_unit" name="time_unit" v-model="plan.time_unit"
                                                                        class="inline-flex w-24 items-center px-3 rounded-r-md border border-l-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                                                                        <option>Bulan</option>
                                                                        <option>Tahun</option>
                                                                            <option>Hari</option>
                                                                    </select>
                                                                </span>
                                                            </div>
                                                        </div>

                                                    </div>


                                                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email">
                    Checkbox
                  </div>
                </div>
                <div class="mt-4 sm:mt-0 sm:col-span-2">
                  <div class="max-w-lg space-y-4">
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <input id="auto_backup" v-model="plan.auto_backup" name="auto_backup" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                      </div>
                      <div class="ml-3 text-sm">
                        <label for="auto_backup" class="font-medium text-gray-700">Auto Backup</label>
                        <p class="text-gray-500">mengaktifkan auto backup untuk user plan ini.</p>
                      </div>
                    </div>
                    <div>
                      <div class="relative flex items-start">
                        <div class="flex items-center h-5">
                          <input id="is_renewable "  v-model="plan.is_renewable"  name="is_renewable" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="is_renewable" class="font-medium text-gray-700">Bisa di upgrade/perpanjang</label>
                          <p class="text-gray-500">bisa memperpanjang plan dengan paket ini.</p>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="relative flex items-start">
                        <div class="flex items-center h-5">
                          <input id="available_in_checkout" v-model="plan.available_in_checkout" name="available_in_checkout" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="available_in_checkout" class="font-medium text-gray-700">Tampilkan di Halaman Checkout</label>
                          <p class="text-gray-500">menampilkan plan ini di halaman checkout.</p>
                        </div>
                      </div>
                    </div>
                     <div>
                      <div class="relative flex items-start">
                        <div class="flex items-center h-5">
                          <input id="active_plan" v-model="plan.active_plan" name="active_plan" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="active_plan" class="font-medium text-gray-700">Aktif</label>
                          <p class="text-gray-500">apakah plan ini bisa dibeli?.</p>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="relative flex items-start">
                        <div class="flex items-center h-5">
                          <input id="default_plan" v-model="plan.default_plan" name="default_plan" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="default_plan" class="font-medium text-gray-700">Default Plan</label>
                          <p class="text-gray-500">plan ketika user baru daftar.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


                                                </div>
                                            </div>

                                        </div>

                                        <div class="pt-5">
                                            <div class="flex justify-end">
                                                <inertia-link href="/dashboard"
                                                    class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                    Kembali
                                                </inertia-link>
                                                <button type="submit"
                                                    class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                    Simpan
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import {
        Inertia
    } from '@inertiajs/inertia'
    export default {
        components: {
            AppLayout
        }, 
        data: () => ({

            plan: {
                title : '',
                time: 1,
                point_includes : [],
                website_number: 1,
                auto_backup : false,
                is_renewable : true,
                available_in_checkout : true,
                active_plan : true,
                default_plan : false,
                max_monthly_traffic: 10000,
                max_hourly_traffic: 1000,
                max_monthly_transfer: 100000000,
                max_hourly_transfer: 10000000,
                price: 30000,
                fake_price: 60000,
                call_to_action_text: 'Beli Paket ini',
                time_unit: 'Bulan'
            }
        }),
        mounted() {   
            if(this.$page.props.plan_data)
            { 
                this.plan = this.$page.props.plan_data ;
                 ['auto_backup','is_renewable','available_in_checkout','active_plan','default_plan'].forEach(item=>{
                     this.plan[item] =  this.plan[item] === 1;
                 })
            }
            // if (this.$page.props.plan)
            // {
            //      this.plan = this.$page.props.plan;
            //      ['auto_backup','is_renewable','available_in_checkout','active_plan','default_plan'].forEach(item=>{
            //          this.plan[item] =  this.plan[item] === 1;
            //      })
            // }
               
        },
        methods: {
            submitForm() { 
                console.log(this.plan)
                if(this.plan.id)
                {
                    Inertia.put('/plans/'+this.plan.id, this.plan)
                }else{
                    Inertia.post('/plans', this.plan)
                }
                
            }
        }
    }

</script>
