<template>
    <app-layout>
        <template #header>
             <UserHeader></UserHeader>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                 <div class="py-3">
         <section aria-labelledby="applicant-information-title">
            <div class="bg-white shadow sm:rounded-lg">
               <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
      <div class="ml-4 mt-2">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Data Membership
        </h3>
      </div>
      <div class="ml-4 mt-2 flex-shrink-0">
            <inertia-link  href="/checkout"><Button>UPGRADE PAKET</Button></inertia-link>
      </div>
    </div>
  </div>
        
  <div v-if="$page.props.expired" class="rounded-md bg-green-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg class="h-5 w-5 text-green-400" x-description="Heroicon name: check-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
</svg>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-green-800">
          Masa Aktif Membership habis
        </h3>
        <div class="mt-2 text-sm text-green-700">
          <p>
            Silakan perpanjang masa membership anda untuk melanjutkan menggunakan {{$page.props.appName}}!
          </p>
        </div>
        <div class="mt-4">
          <div class="-mx-2 -my-1.5 flex">
           <inertia-link href="/checkout">
              <button class="bg-green-50 px-2 py-1.5 rounded-md text-sm font-medium text-green-800 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-50 focus:ring-green-600">
              Tambah Masa Aktif
            </button>
           </inertia-link>
            
          </div>
        </div>
      </div>
    </div>
  </div>
              <div class=" px-4 py-5 sm:px-6">
                <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Paket Membership
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      {{plan.title}}
                    </dd>
                  </div>
                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Masa Aktif
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      {{user.membership_time}}
                    </dd>
                  </div>
                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Tanggal Bergabung
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      {{user.created_at}}
                    </dd>
                  </div>
                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Jumlah Max Website
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      {{plan.website_number}}
                    </dd>
                  </div>
                  <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Jumlah Traffic per Bulan
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      {{plan.max_monthly_traffic.toLocaleString('id')}}
                    </dd>
                  </div>
                    <div class="sm:col-span-1">
                    <dt class="text-sm font-medium text-gray-500">
                      Jumlah Traffic per Jam
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900">
                      {{plan.max_hourly_traffic.toLocaleString('id')}}
                    </dd>
                  </div>
              
                  
                </dl>
              </div> 
            </div>
          </section>
          
        <!-- Billing history -->
        <section aria-labelledby="billing_history_heading" class="mt-10">
          <div class="bg-white pt-6 shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 sm:px-6">
              <h2 id="billing_history_heading" class="text-lg leading-6 font-medium text-gray-900">Billing history</h2>
            </div>
            <div class="mt-6 flex flex-col">
              <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                  <div class="overflow-hidden border-t border-gray-200">
                    <table class="min-w-full divide-y divide-gray-200">
                      <thead class="bg-gray-50">
                        <tr>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Date
                          </th>
                             <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Invoice ID
                          </th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Description
                          </th>
                           <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Status
                          </th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Amount
                          </th>
                          <!--
                            `relative` is added here due to a weird bug in Safari that causes `sr-only` headings to introduce overflow on the body on mobile.
                          -->
                          <th scope="col" class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            <span class="sr-only">View receipt</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="bg-white divide-y divide-gray-200" x-max="1">
                        
                          <tr v-for="bill in billings">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                             {{bill.created_at}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                              {{bill.invoice_id}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                              {{bill.title}}
                            </td>
                             <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                              {{bill.status}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                              Rp.{{bill.price.toLocaleString('id')}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                              <inertia-link :href="`/invoice/${bill.invoice_id}`" class="text-orange-600 hover:text-orange-900">Lihat</inertia-link>
                            </td>
                          </tr>
                         
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'  
    import { Inertia } from '@inertiajs/inertia'
     import UserHeader from '@/Pages/Profile/UserHeader'
         import Button from '@/Jetstream/Button'
    export default {
        components: {
            AppLayout,
            UserHeader,
            Button
        },
        props : {
            plan : Object,
            billings : Array
        },
        data:()=>({
           user : {},
        }),
        mounted() { 
            this.user = this.$page.props.user;
    },
    methods:{ 
      }
    }
</script>
