<template>
    <app-layout>
        <template #header> 
        </template>

        <div class="py-12">
            <div class="max-w-4xl mx-auto sm:px-6 lg:px-8">
                   <div class=" ">
    <div class=" ">
      <div class=" ">
         
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        INVOICE #{{sale.invoice_id}}
      </h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">
        detail pembelian dan pembayaran
      </p>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
      <dl class="sm:divide-y sm:divide-gray-200">
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            an. Nama
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{sale.user.name}}
          </dd>
        </div>
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Pembelian untuk
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{sale.title}}
          </dd>
        </div>
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Jumlah Biaya
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            Rp.{{sale.price.toLocaleString('id')}}  <button class="border px-2 py-1 ml-1" @click="copyPass()">Salin</button>
                <p class="mt-1 text-sm text-green-500" v-if="tooltip">harga telah disalin!</p>
          </dd>
        </div>
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Status Transaksi
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            {{sale.status}}
          </dd>
        </div> 
         <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Cara Pembayaran
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
           <pre>
              {{$page.props.caraPembayaran}}
           </pre>
          </dd>
        </div> 
        
        
      </dl>
    </div>
  </div>

      </div>
    </div>
  </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout' 
       import UserHeader from '@/Pages/Profile/UserHeader'
      import Button from '@/Jetstream/Button'
    export default {
        props :  ['sale'],
        data:()=>({
          tooltip : '',
        }),
        components: {
            AppLayout, 
            Button,
            UserHeader
        },
        mounted(){ 
        },
        methods:{
           copyPass(){
             this.tooltip = true;
  var textField = document.createElement('textarea')
    textField.innerText = this.sale.price
    document.body.appendChild(textField)
    textField.select()
    document.execCommand('copy')
    textField.remove()
    setTimeout(()=>{
      this.tooltip = false;
    },3000)

 
},

        }
    }
</script>
 