<template>
    <app-layout>
        <template #header> 
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                   <div class=" ">
    <div class=" ">
      <div class=" ">
        <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow">
          
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
      <div class="ml-4 mt-2">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          DAFTAR PLANS
        </h3>
      </div>
      <div class="ml-4 mt-2 flex-shrink-0">
          <inertia-link  href="/plans/create"><Button>BUAT PLAN</Button></inertia-link>
      </div>
    </div>
  </div>

          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Title
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Time
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  website_number
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  max_monthly_traffic
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  max_hourly_traffic
                </th>
                 <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Price
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Note
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody x-max="2">
              
                <!-- Odd row -->
                <tr class="bg-white" v-for="plan in plans">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                   <a :href="`/checkout/${plan.plan_id}`" class="flex" target="_blank"> <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1 -mt-1 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
</svg> {{plan.title}}</a>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{plan.time}} {{plan.time_unit}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{plan.website_number}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{plan.max_monthly_traffic}}
                  </td>
                   <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{plan.max_hourly_traffic}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{plan.price}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <span v-if="plan.active_plan" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                          active
                        </span>
                        <span v-if="plan.default_plan" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                          default
                        </span>
                        <span v-if="plan.auto_backup" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                          auto_backup
                        </span>
                        <span v-if="plan.is_renewable" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                          renewable
                        </span>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <inertia-link :href="'/plans/'+plan.id+'/edit'" class="text-indigo-600 hover:text-indigo-900">Edit</inertia-link>
                  </td>
                </tr>
               
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout' 
       import UserHeader from '@/Pages/Profile/UserHeader'
      import Button from '@/Jetstream/Button'
    export default {
        props :  ['plans'],
        components: {
            AppLayout, 
            Button,
            UserHeader
        },
        mounted(){ 
        }
    }
</script>
