<template>
    <app-layout>
        <template #header> 
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                   <div class=" ">
    <div class=" ">
      <div class=" ">
        <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow">
          
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
      <div class="ml-4 mt-2">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          SALES
        </h3>
      </div>
      <div class="ml-4 mt-2 flex-shrink-0"> 
      </div>
    </div>
  </div>
     <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                  <div class="overflow-hidden border-t border-gray-200">

           <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                     <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Date
                          </th>
                           <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            INVOICE
                          </th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Description
                          </th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Pembeli
                          </th>
                           <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Status
                          </th>
                          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Amount
                          </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody x-max="2">
              
                <!-- Odd row -->
                <tr class="bg-white" v-for="sale in sales.data">
                   <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                             {{sale.created_at}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                              {{sale.invoice_id}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                              {{sale.title}}
                            </td>
                             <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                              {{sale.user.name}}
                            </td>
                             <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                              {{sale.status}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                              Rp.{{sale.price.toLocaleString('id')}}
                            </td>
                            <td v-if="sale.status !='berhasil'" class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                              <Button @click="Confirm(sale)">Confirm</Button>
                            </td>
                 
                </tr>
               
              
            </tbody>
          </table>
            </div>
      </div>
    </div>
        </div>
      </div>
    </div>
  </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout' 
       import UserHeader from '@/Pages/Profile/UserHeader'
      import Button from '@/Jetstream/Button'
      import axios from 'axios';
    export default {
        props :  ['sales'],
        components: {
            AppLayout, 
            Button,
            UserHeader
        },
        mounted(){ 
        },
        methods:{
            Confirm(sale){
                sale.status = 'berhasil'
                axios.post('/sale/'+sale.id+'/confirm')
            }
        }
    }
</script>
