<template>
    <app-layout>
        <template #header> 
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                   <div class=" ">
    <div class=" ">
      <div class=" ">
        <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow">
          
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
      <div class="ml-4 mt-2">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          LIST USER
        </h3>
      </div>
      <div class="ml-4 mt-2 flex-shrink-0"> 
      </div>
    </div>
  </div>

           <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Nama
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Email
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Plan
                </th>
              
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Membership Time
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody x-max="2">
              
                <!-- Odd row -->
                <tr class="bg-white" v-for="user in users.data">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    {{user.name}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium  ">
                    {{user.email}}
                  </td>
                   <td class="px-6 py-4 whitespace-nowrap text-sm font-medium  ">
                    {{user.role}}
                  </td>
                   <td class="px-6 py-4 whitespace-nowrap text-sm font-medium  ">
                    {{user.membership_time}}
                  </td>
                </tr>
               
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout' 
       import UserHeader from '@/Pages/Profile/UserHeader'
      import Button from '@/Jetstream/Button'
    export default {
        props :  ['users'],
        components: {
            AppLayout, 
            Button,
            UserHeader
        },
        mounted(){ 
        }
    }
</script>
