<template>
    <app-layout>
        <template #header>
             <UserHeader></UserHeader>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                  <Welcome></Welcome>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Jetstream/Welcome'
    import UserHeader from '@/Pages/Profile/UserHeader'
    export default {
        components: {
            AppLayout,
            Welcome,
            UserHeader
        },
    }
</script>
