<template>
    <app-layout>
        <template #header>
            <UserHeader></UserHeader>
        </template>

        <div class="py-6 ">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

                <div class="bg-white">
                    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">

                        <form  @submit.prevent="submitForm"  class="space-y-8 divide-y divide-gray-200">
                            <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                                <div>
                                    <div>
                                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                                            Menu Admin
                                        </h3>
                                        <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                            menu ini diisi oleh admin
                                        </p>
                                    </div>

                                    <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                                        <div
                                            class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                            <label for="caraPembayaran"
                                                class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                Cara Pembayaran
                                            </label>
                                            <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                <textarea id="caraPembayaran" name="caraPembayaran" v-model="data.caraPembayaran" rows="3"
                                                    class="max-w-lg shadow-sm block w-full focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md"></textarea>
                                                <p class="mt-2 text-sm text-gray-500">tuliskan cara user membayar produk
                                                    yang dibeli.</p>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">

                                          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="appName" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
              Nama Aplikasi
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name="appName" id="appName"  v-model="data.appName"  class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>
                                        </div>
                                    <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                                        <div
                                            class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                            <label for="tutorial"
                                                class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                Link Tutorial
                                            </label>
                                            <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                <input id="tutorial" v-model="data.tutorLink" name="tutorial" type="text" autocomplete="tutorial"
                                                    class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                                        <div
                                            class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                            <label for="dokumentasi"
                                                class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                Link Dokumentasi
                                            </label>
                                            <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                <input id="dokumentasi" v-model="data.docLink" name="dokumentasi" type="text"
                                                    autocomplete="dokumentasi"
                                                    class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="pt-5">
      <div class="flex justify-end">
        <inertia-link href="/dashboard" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Kembali
        </inertia-link>
        <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Simpan
        </button>
      </div>
    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import UserHeader from '@/Pages/Profile/UserHeader'
        import { Inertia } from '@inertiajs/inertia'
    export default {
        data : ()=>({
          
          data : {}
        }),
        components: {
            AppLayout,
            UserHeader
        },
        mounted(){
          this.data.caraPembayaran = this.$page.props.caraPembayaran;
          this.data.appName = this.$page.props.appName;
          this.data.docLink = this.$page.props.docLink;
          this.data.tutorLink = this.$page.props.tutorLink;
        },
        methods:{
          submitForm(){
 Inertia.post('/menu-admin', this.data)
          }
        }
    }

</script>
