<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Install Wordpress
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                 <div class="py-12">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                <div>
                    <div class="p-6 sm:px-20 py-12 bg-white border-b border-gray-200">

                       <form @submit.prevent="submitForm" class="space-y-8 divide-y divide-gray-200">
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
      <div>
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Website
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            isi informasi ini untuk membuat website anda
          </p>
        </div>

        <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="subdomain" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
              Domain
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="max-w-lg flex rounded-md shadow-sm">
          
                <input type="text" v-model="web.subdomain" name="subdomain" @input="web.subdomain = web.subdomain.replace(/[^\w]/gi, '').toLowerCase()" id="subdomain" autocomplete="subdomain" class="flex-1 block w-full focus:ring-indigo-500 focus:border-indigo-500 min-w-0 rounded-none rounded-l-md sm:text-sm border-gray-300">
                    <span class="inline-flex items-center px-3 rounded-r-md border border-l-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                  .ezzypress.com
                </span>
              </div>
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="title" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
              Nama Website
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" v-model="web.website_title" name="title" id="title"   class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="website_username" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
              Nama Admin
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name="website_username" id="website_username" @input="web.website_username = web.website_username.replace(/[^\w]/gi, '')"  v-model="web.website_username"   class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="website_email" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
              Email Admin
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name="website_email" v-model="web.website_email" id="website_email" autocomplete="email" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>
           <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
            <label for="website_password" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
              Password Website
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="password" name="website_password" v-model="web.website_password" id="website_password" autocomplete="password" class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
            </div>
          </div>
 
 
        </div>
      </div>
 
    </div>

    <div class="pt-5">
      <div class="flex justify-end">
        <inertia-link href="/dashboard" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Kembali
        </inertia-link>
        <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Simpan
        </button>
      </div>
    </div>
  </form>
                    </div>
 
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </app-layout>
</template>


<script>
    import AppLayout from '@/Layouts/AppLayout'
    import {
        Inertia
    } from '@inertiajs/inertia'
    export default {
        components: {
            AppLayout
        },
        props: ['domains'],
        data: () => ({
            tampilkan_password: false,
            web: {
                tld: '',
                subdomain: '',
                website_password: '',
                website_username: '',
                website_email: '',
            }
        }),
        watch: {
            status() {
                console.log(this.status)
            }
        },
        mounted() {
            this.web.website_username = this.$page.props.user.runcloud_username || this.$page.props.user.email.split(
                '@')[0]
            this.web.website_email = this.$page.props.user.email;
            this.web.tld = this.domains[0].name;
        },
        methods: {
            copyPass() {
                //Input Element with id "text"
                this.tampilkan_password = true;
                setTimeout(() => {

                    let textToBeCopied = document.getElementById('website_password');
                    //Select the content in the input element
                    textToBeCopied.select();
                    textToBeCopied.setSelectionRange(0, 99999);
                    //copy the text inside the input element to clipboard
                    document.execCommand('copy');
                    this.tampilkan_password = false;
                }, 300)

            },
            generatePassword() {
                this.web.website_password = Array(16).fill(
                    "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz!@#$%^&*()").map(function (x) {
                    return x[Math.floor(Math.random() * x.length)]
                }).join('');

            },
            submitForm() {
                Inertia.post('/website', this.web)
            }
        }
    }

</script>
