<template>
    <app-layout>
        <template #header>
        <UserHeader></UserHeader>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                   <div class=" ">
    <div class=" ">
      <div class=" ">
        <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow">
          
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
      <div class="ml-4 mt-2">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          List Website
        </h3>
      </div>
      <div class="ml-4 mt-2 flex-shrink-0">
          <inertia-link  href="/website/create"><Button>BUAT WEBSITE</Button></inertia-link>
      </div>
    </div>
  </div>

          <ul class="divide-y divide-gray-200  " aria-disabled="true">
            
              <li v-for="item in websites" :key="item.id">
                <inertia-link :href="`/website/${item.id}`" class="block hover:bg-gray-50">
                  <div class="px-4 py-4 sm:px-6">
                    <div class="flex items-center justify-between">
                      <div class="text-sm font-medium text-green-600 truncate">
                        {{item.website_title}}
                      </div>
                      <div class="ml-2 flex-shrink-0 flex">
                        <span v-if="item.installed"><span v-if="item.is_active" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                          active
                        </span></span>
                        <span v-else class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                          proses install ({{item.step}}/4)
                        </span>
                      </div>
                    </div>
                    <div class="mt-2 flex justify-between">
                         {{item.main_domain}}
                    </div>
                  </div>
                </inertia-link>
              </li>
             
            
          </ul>
        </div>
      </div>
    </div>
  </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout' 
       import UserHeader from '@/Pages/Profile/UserHeader'
      import Button from '@/Jetstream/Button'
    export default {
        props :  ['websites'],
        components: {
            AppLayout, 
            Button,
            UserHeader
        },
        mounted(){ 
        }
    }
</script>
