<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Installing Wordpress
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="py-12">
                    <div class="relative pt-1">
                        <div class="flex mb-2 items-center justify-between">
                            <div>
                                <span
                                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200">
                                    {{website.step_status ?? 'Memulai Instalasi'}}
                                </span>
                            </div>
                            <div class="text-right">
                                <span class="text-xs font-semibold inline-block text-pink-600">
                                    {{Math.ceil(website.step / 5 * 100)}}%
                                </span>
                            </div>
                        </div>
                        <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200">
                            <div :style="`width:${Math.ceil(website.step / 5 * 100)}%`"
                                class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-pink-500">
                            </div>
                        </div>
                    </div>
                    <p>Kamu boleh menutup atau meninggalkan halaman ini sembari proses instalasi</p>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'

    export default {
        components: {
            AppLayout
        },
        props: {
            website: Object,
        },
        mounted() {
            this.reloadoNE();
        },
        methods: {
            reloadoNE() {

                setTimeout(() => {
                    if (this.website.installed == false && location.pathname.includes('/website/'))
                        this.$inertia.get('/website/' + this.website.id)
                }, this.website.step * 1000)



            }
        }
    }

</script>
