<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                <a target="_blank" :href="`${website.http_protocol}://${website.main_domain}`"> <span class="flex"><svg
                            xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
                        </svg><span class="ml-1">{{website.main_domain}}</span></span> </a>
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="py-12">

                    <main class="relative -mt-10">

                        <div class="max-w-screen-xl mx-auto pb-6 px-4 sm:px-6 lg:pb-16 lg:px-8">
                            <div class="bg-white rounded-lg shadow overflow-hidden">
                                <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
                                    <aside class="py-6 lg:col-span-3">
                                        <nav>


                                            <!-- Current: "bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700", 
                    Default: "border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900" -->
                                            <!-- Current: "text-teal-500 group-hover:text-teal-500", Default: "text-gray-400 group-hover:text-gray-500" -->
                                            <a href="#" @click="menu = 'summary'"
                                                :class="menu == 'summary' ? current : default_color"
                                                class=" group border-l-4 px-3 py-2 flex items-center text-sm font-medium"
                                                aria-current="page">


                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    :class="menu == 'summary' ? current_child : default_child"
                                                    class=" flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                                </svg>
                                                <span class="truncate">
                                                    Summary
                                                </span>
                                            </a>
                                            <a href="#" @click="menu = 'domain'"
                                                :class="menu == 'domain' ? current : default_color"
                                                class=" group mt-1 border-l-4 px-3 py-2 flex items-center text-sm font-medium">
                                                <svg :class="menu == 'domain' ? current_child : default_child"
                                                    class=" flex-shrink-0 -ml-1 mr-3 h-6 w-6"
                                                    x-description="Heroicon name: view-grid-add"
                                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke="currentColor" aria-hidden="true">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z">
                                                    </path>
                                                </svg>
                                                <span class="truncate">
                                                    Domain
                                                </span>
                                            </a>

                                            <a href="#" @click="menu = 'database'"
                                                :class="menu == 'database' ? current : default_color"
                                                class="  group mt-1 border-l-4 px-3 py-2 flex items-center text-sm font-medium">
                                                 
                                                <svg :class="menu == 'database' ? current_child : default_child" xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
</svg>
                                                <span class="truncate">
                                                    Database
                                                </span>
                                            </a>

                                            <a href="#" @click="menu = 'sftp'"
                                                :class="menu == 'sftp' ? current : default_color"
                                                class="  group mt-1 border-l-4 px-3 py-2 flex items-center text-sm font-medium">

                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    :class="menu == 'sftp' ? current_child : default_child"
                                                    class=" flex-shrink-0 -ml-1 mr-3 h-6 w-6" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" />
                                                </svg>
                                                <span class="truncate">
                                                    SFTP / SSH
                                                </span>
                                            </a>
                                            <a href="#" @click="menu = 'delete'"
                                                :class="menu == 'delete' ? current : default_color"
                                                class="  group mt-1 border-l-4 px-3 py-2 flex items-center text-sm font-medium">


                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="h-6 w-6 flex-shrink-0 -ml-1 mr-3"
                                                    :class="menu == 'delete' ? current_child : default_child"
                                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                </svg>
                                                <span class="truncate">
                                                    Delete Website
                                                </span>
                                            </a>








                                        </nav>
                                    </aside>

                                    <div v-if="menu == 'summary'" class="divide-y divide-gray-200 lg:col-span-9">
                                        <!-- Profile section -->
                                        <div class="py-6 px-4 sm:p-6 lg:pb-8">
                                            <div>
                                                <div v-if="website.installed == false" class="relative ">
                                                    <div  class="flex mb-2 items-center justify-between">
                                                        <div>
                                                            <span
                                                                class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-green-600 bg-green-200">
                                                                {{website.step_status ?? 'Memulai Instalasi'}}
                                                            </span>
                                                        </div>
                                                        <div class="text-right">
                                                            <span
                                                                class="text-xs font-semibold inline-block text-green-600">
                                                                {{Math.ceil(website.step / 5 * 100)}}%
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-green-200">
                                                        <div :style="`width:${Math.ceil(website.step / 5 * 100)}%`"
                                                            class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-10 pb-12 bg-white sm:pb-16">

                                                    <div class="max-w-4xl mx-auto">

                                                        <dl class="rounded-lg bg-white   sm:grid sm:grid-cols-3">

                                                            <div
                                                                class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
                                                                <dt
                                                                    class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                                                                    Visitor Total
                                                                </dt>
                                                                <dd
                                                                    class="order-1 text-5xl font-extrabold text-green-600">
                                                                    {{website.total_visit}}
                                                                </dd>
                                                            </div>
                                                            <div
                                                                class="flex flex-col border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r">
                                                                <dt
                                                                    class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                                                                    Visitor Bulan ini
                                                                </dt>
                                                                <dd
                                                                    class="order-1 text-5xl font-extrabold text-green-600">
                                                                    {{website.monthly_visit}}
                                                                </dd>
                                                            </div>
                                                            <div
                                                                class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
                                                                <dt
                                                                    class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">
                                                                    Visitor Hari ini
                                                                </dt>
                                                                <dd
                                                                    class="order-1 text-5xl font-extrabold text-green-600">
                                                                    {{website.daily_visit}}
                                                                </dd>
                                                            </div>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="px-4 py-5 sm:px-6">
                                                <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                    Informasi Website
                                                </h3>
                                                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                                    informasi tentang website kamu
                                                </p>
                                            </div>
                                            <div class="border-t border-gray-200">
                                                <dl>
                                                    <div
                                                        class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            Nama Website
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                            {{website.website_title}}
                                                        </dd>
                                                    </div>
                                                    <div
                                                        class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            URL Utama
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                            <a target="_blank"
                                                                :href="`${website.http_protocol}://${website.main_domain}`">{{website.http_protocol}}://{{website.main_domain}}</a>
                                                        </dd>
                                                    </div>
                                                    <div
                                                        class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            URL Login Admin
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                            <a target="_blank"
                                                                :href="`${website.http_protocol}://${website.main_domain}/wp-admin`">{{website.http_protocol}}://{{website.main_domain}}/wp-admin</a>
                                                        </dd>
                                                    </div>
                                                    <div
                                                        class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            Wordpress username login
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                            {{website.website_username}}
                                                        </dd>
                                                    </div>
                                                    <div
                                                        class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            Wordpress password login
                                                        </dt>
                                                        <dd class="mt-1 text-sm cu text-gray-900 sm:mt-0 sm:col-span-2">
                                                            <span v-if="website.website_password">
                                                                {{website.website_password}}</span>
                                                            <jet-confirms-password v-else @confirmed="openPass">
                                                                <jet-button class="cursor-pointer" type="button">
                                                                    Lihat Password
                                                                </jet-button>
                                                            </jet-confirms-password>
                                                        </dd>
                                                    </div>

                                                </dl>
                                            </div>



                                        </div>


                                    </div>
                                    <div v-if="menu == 'domain'" class="divide-y divide-gray-200 lg:col-span-9">
                                        <!-- Profile section -->
                                        <div class="py-6 px-4 sm:p-6 lg:pb-8">

                                            <div class="px-4 py-5 sm:px-6">
                                                <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                    Domain Website
                                                </h3>
                                                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                                    data domain dan cara ganti domain
                                                </p>
                                            </div>
                                            <div class="border-t border-gray-200">
                                                <dl>

                                                    <div
                                                        class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            Domain Saat ini
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                            <a target="_blank"
                                                                :href="`${website.http_protocol}://${website.main_domain}`">{{website.main_domain}}</a>
                                                            <div class="mt-3" v-if="!proses_ganti_domain">
                                                                <Button @click="changeDomainModal = true">Ganti
                                                                    Domain</Button>
                                                            </div>
                                                        </dd>
                                                    </div>




                                                    <div v-if="change_domain_berhasil"
                                                        class="rounded-md bg-green-50 p-4">
                                                        <div class="flex">
                                                            <div class="flex-shrink-0">
                                                                <svg class="h-5 w-5 text-green-400"
                                                                    x-description="Heroicon name: check-circle"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 20 20" fill="currentColor"
                                                                    aria-hidden="true">
                                                                    <path fill-rule="evenodd"
                                                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                                                        clip-rule="evenodd"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="ml-3">
                                                                <h3 class="text-sm font-medium text-green-800">
                                                                    Ganti Domain Berhasil
                                                                </h3>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" overflow-x-auto mt-4 ">
                                                        <div class="  align-middle inline-block min-w-full   ">
                                                            <div class="shadow overflow-hidden   sm:rounded-lg">
                                                                <table class="min-w-full divide-y divide-gray-200">
                                                                    <thead class="bg-gray-50">
                                                                        <tr>
                                                                            <th scope="col"
                                                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                                                Domain
                                                                            </th>
                                                                            <th scope="col"
                                                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody x-max="2">

                                                                        <!-- Odd row -->
                                                                        <tr :class="index % 2 ? 'bg-gray-50' : 'bg-white'"
                                                                            v-for="(item,index) in domains"
                                                                            :key="item.id">
                                                                            <td
                                                                                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                                                {{item.domain}}
                                                                            </td>
                                                                            <td
                                                                                class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                                                <div v-if="!proses_ganti_domain">
                                                                                  <div v-if="item.domain != website.reserve_domain">
                                                                                        <Button
                                                                                        @click="changeExistedDomain(item)"
                                                                                        v-if="item.domain != website.main_domain">Ganti</Button>
                                                                                    <span v-else>active</span>
                                                                                  </div>
                                                                                </div>
                                                                                <div v-else>proses ganti domain...</div>
                                                                            </td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </dl>
                                            </div>




                                        </div>


                                    </div>
                                    <div v-if="menu == 'database'" class="divide-y divide-gray-200 lg:col-span-9">
                                        <!-- Profile section -->
                                        <div class="py-6 px-4 sm:p-6 lg:pb-8">

                                            <div class="px-4 py-5 sm:px-6">
                                                <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                    Database
                                                </h3>
                                                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                                    kamu bisa mengakses database wordpress kamu via PHPmyadmin dengan cara berikut
                                                </p>
                                            </div>
                                            <div class="border-t border-gray-200">
                                                <dl>
                                                    <div
                                                        class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                          PHPmyadmin URL
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                           <a :href="website.phpmyadmin_url" target="_blank"> {{website.phpmyadmin_url}}</a>
                                                        </dd>
                                                    </div> 
                                                    <div
                                                        class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            DB User
                                                        </dt>
                                                         <dd class="mt-1 text-sm text-gray-900  sm:mt-0 sm:col-span-2">
                                                            <span v-if="website.db_password">
                                                                {{website.db_username}}</span>
                                                            <jet-confirms-password v-else @confirmed="openPass">
                                                                <jet-button type="button" class="cursor-pointer">
                                                                    Lihat Username
                                                                </jet-button>
                                                            </jet-confirms-password>
                                                        </dd>
                                                    </div>
                                                    <div
                                                        class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            DB Password
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0    sm:col-span-2">
                                                            <span v-if="website.db_password">
                                                                {{website.db_password}}</span>
                                                            <jet-confirms-password v-else @confirmed="openPass" >
                                                                <jet-button type="button" class="cursor-pointer">
                                                                    Lihat Password
                                                                </jet-button>
                                                            </jet-confirms-password>
                                                        </dd>
                                                    </div> 



                                                </dl>
                                            </div>



                                        </div>



                                    </div>
                                    <div v-if="menu == 'sftp'" class="divide-y divide-gray-200 lg:col-span-9">
                                        <!-- Profile section -->
                                        <div class="py-6 px-4 sm:p-6 lg:pb-8">

                                            <div class="px-4 py-5 sm:px-6">
                                                <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                    SFTP
                                                </h3>
                                                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                                    secure FTP untuk akses file website
                                                </p>
                                            </div>
                                            <div class="border-t border-gray-200">
                                                <dl>
                                                    <div
                                                        class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            Host
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                            {{website.main_domain}}
                                                        </dd>
                                                    </div>
                                                    <div
                                                        class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            Username
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                            {{website.system_user}}
                                                        </dd>
                                                    </div>
                                                    <div
                                                        class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            Password
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                            <span v-if="website.system_user_pass">
                                                                {{website.system_user_pass}}</span>
                                                            <jet-confirms-password v-else @confirmed="openUserPassword">
                                                                <jet-button type="button" class="cursor-pointer">
                                                                    Lihat Password
                                                                </jet-button>
                                                            </jet-confirms-password>
                                                        </dd>
                                                    </div>
                                                    <div v-if="website.system_user_pass"
                                                        class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            Password Expiration
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                            {{moment(website.system_user_password_expired_at).format('DD-MM-YYYY HH:mm')}}
                                                            <div class="mt-3">
                                                                <jet-confirms-password @confirmed="resetPassword">
                                                                    <Button>Reset Password</Button>
                                                                </jet-confirms-password>
                                                            </div>
                                                        </dd>
                                                    </div>
                                                    <div v-if="change_password_berhasil"
                                                        class="rounded-md bg-green-50 p-4 mt-3">
                                                        <div class="flex">
                                                            <div class="flex-shrink-0">
                                                                <svg class="h-5 w-5 text-green-400"
                                                                    x-description="Heroicon name: check-circle"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 20 20" fill="currentColor"
                                                                    aria-hidden="true">
                                                                    <path fill-rule="evenodd"
                                                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                                                        clip-rule="evenodd"></path>
                                                                </svg>
                                                            </div>
                                                            <div class="ml-3">
                                                                <h3 class="text-sm font-medium text-green-800">
                                                                    Reset Password Berhasil
                                                                </h3>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                                        <dt class="text-sm font-medium text-gray-500">
                                                            Port
                                                        </dt>
                                                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                            22
                                                        </dd>
                                                    </div>



                                                </dl>
                                            </div>



                                        </div>



                                    </div>
                                    <div v-if="menu == 'delete'" class="divide-y divide-gray-200 lg:col-span-9">
                                        <!-- Profile section -->
                                        <div class="py-6 px-4 sm:p-6 lg:pb-8">

                                            <div class="px-4 py-5 sm:px-6">
                                                <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                    DELETE WEBSITE
                                                </h3>
                                                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                                    action ini tidak bisa dikembalikan, batalkan jika anda tidak yakin
                                                    untuk melakukannya.
                                                </p>
                                            </div>
                                            <div class="px-4 py-5 sm:px-6">
                                                <jet-confirms-password @confirmed="deleteWebsite()">
                                                    <DangerButton>HAPUS WEBSITE</DangerButton>
                                                </jet-confirms-password>

                                            </div>



                                        </div>



                                    </div>

                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </app-layout>


    <dialog-modal :show="changeDomainModal" @close="changeDomainModal = false">
        <template #title>
            Proses Ganti Domain ({{step_ganti_domain}}/2)
        </template>

        <template #content>
            <div v-if="step_ganti_domain == 1"
                class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <label for="domain" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                    Domain Baru
                </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <input type="text" name="domain" v-model="new_domain" id="domain" placeholder="domainbaru.com"
                        class="max-w-lg block w-full shadow-sm focus:ring-green-500 focus:border-green-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                    <p v-if="alert_domain_belum_diisi" class="mt-2 text-sm text-red-600">Domain belum diisi.</p>
                </div>
            </div>
            <div v-if="step_ganti_domain == 2" class=" mt-5">
                <p>Setting domain di DNS Manager kamu dengan</p>
                <p class="mt-3">Tipe : CNAME</p>
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start ">
                    <div class="mt-3 sm:col-span-2">
                        <label for="company_website" class="block text-sm font-medium text-gray-700">
                            Name
                        </label>
                        <div class="mt-1 flex rounded-md shadow-sm">

                            <input type="text" name="company_website" id="company_website" v-model="new_domain"
                                class="flex-1 min-w-0 block w-full px-3 py-2 rounded-none rounded-l-md focus:ring-green-500 focus:border-green-500 sm:text-sm border-gray-300"
                                placeholder="www.example.com">
                            <span @click="copy('company_website')"
                                class="cursor-pointer inline-flex items-center px-3 rounded-r-md border border-l-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                                COPY
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start ">
                    <div class="mt-3 sm:col-span-2">
                        <label for="reserve_domain" class="block text-sm font-medium text-gray-700">
                            Value
                        </label>
                        <div class="mt-1 flex rounded-md shadow-sm">

                            <input type="text" name="reserve_domain" id="reserve_domain"
                                v-model="website.reserve_domain" readonly
                                class="flex-1 min-w-0 block w-full px-3 py-2 rounded-none rounded-l-md focus:ring-green-500 focus:border-green-500 sm:text-sm border-gray-300"
                                placeholder="www.example.com">
                            <span @click="copy('reserve_domain')" 
                                class="cursor-pointer inline-flex items-center px-3 rounded-r-md border border-l-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                                COPY
                            </span>
                        </div>
                    </div>
                </div>
                <div v-if="error_list.length > 0">

                    <div class="rounded-md bg-red-50 p-4 mt-3">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <svg class="h-5 w-5 text-red-400" x-description="Heroicon name: x-circle"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div class="ml-3">
                                <h3 class="text-sm font-medium text-red-800">
                                    Error pada penggantian domain
                                </h3>
                                <div class="mt-2 text-sm text-red-700">
                                    <ul class="list-disc pl-5 space-y-1">
                                        <li v-for="item in error_list" :key="item">
                                            {{item}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </template>

        <template #footer>
            <div v-if="step_ganti_domain == 1">
                <jet-secondary-button class="mr-2" @click="changeDomainModal = false">
                    Tutup
                </jet-secondary-button>
                <Button @click="new_domain ? step_ganti_domain = 2 : alert_domain_belum_diisi = true">Next</Button>
            </div>
            <div v-if="step_ganti_domain == 2">
                <jet-secondary-button class="mr-2" @click="step_ganti_domain = 1">
                    Kembali
                </jet-secondary-button>
                <Button @click="changeDomain()">Cek Domain</Button>
            </div>
        </template>
    </dialog-modal>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Button from '@/Jetstream/Button'
    import JetConfirmsPassword from '@/Jetstream/ConfirmsPassword'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton'
    import DangerButton from '@/Jetstream/DangerButton'

    import DialogModal from '@/Jetstream/DialogModal'
    import moment from 'moment'
    import axios from 'axios'
    export default {
        components: {
            AppLayout,
            Button,
            JetConfirmsPassword,
            JetSecondaryButton,
            DialogModal,
            DangerButton,
            Button
        },
        props: {
            domains: Array
        },
        data: () => ({
            changeDomainModal: false,
            change_password_berhasil: false,
            alert_domain_belum_diisi: false,
            proses_ganti_domain: false,
            new_domain: '',
            step_ganti_domain: 1,
            moment,
            website: {},
            user: {},
            error_list: [],
            change_domain_berhasil: false,
            menu: localStorage.getItem('menu') ? localStorage.getItem('menu') : 'summary',
            current: "bg-green-50 border-green-500 text-green-700 hover:bg-green-50 hover:text-green-700",
            current_child: "text-green-500 group-hover:text-green-500",
            default_color: "border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900",
            default_child: "text-gray-400 group-hover:text-gray-500"
        }),
        mounted() {
            this.website = this.$page.props.website; 

            Echo.private(`website.${this.website.user_id}`)
            .listen('WebsiteInstallationStatus', (e) => {
                if(e.website.id == this.website.id)
                {
                    this.website.step = e.website.step;
                     this.website.installed = e.website.installed;
                      this.website.step_status = e.website.step_status;
                      this.website.http_protocol = e.website.http_protocol;
                }
                

            });

        },
        watch: {
            menu() {
                localStorage.setItem('menu', this.menu)
            },
            change_domain_berhasil() {
                if (this.change_domain_berhasil) {
                    setTimeout(() => {
                        this.change_domain_berhasil = false;
                    }, 3000)
                }
            }
        },
        methods: {
            resetPassword() {
                axios.post('/website/'+this.website.id+'/reset-system-user-pass').then(response => {
                    this.website = response.data;
                    this.change_password_berhasil = true;
                    setTimeout(() => {
                        this.change_password_berhasil = false;
                    }, 4000)
                })
            },
            deleteWebsite() {
                 localStorage.setItem('menu', 'summary')
                this.$inertia.delete('/website/' + this.website.id)

            },
            openPass() {
                axios.post('/website/' + this.website.id + '/open-pass').then(response => {
                    this.website = response.data;
                })
            },
            openUserPassword() {
                axios.post('/website/'+this.website.id+'/system-user-pass').then(response => {
                    this.website = response.data;
                })
            },
            copy(id) {
                let textToBeCopied = document.getElementById(id);
                //Select the content in the input element
                textToBeCopied.select();
                textToBeCopied.setSelectionRange(0, 99999);
                //copy the text inside the input element to clipboard
                document.execCommand('copy');
            },
            changeExistedDomain(item) {
                this.proses_ganti_domain = true;
                setTimeout(() => {
                    this.proses_ganti_domain = false;
                }, 40000)
                axios.post('/website/' + this.website.id + '/change-existed-domain', {
                    domain: item.domain
                }).then(response => {
                    if (response.data == 'OK') {
                        this.website.main_domain = item.domain;
                    }
                })
            },
            changeDomain() {

                var domain = this.new_domain;
                this.proses_ganti_domain = true;
                setTimeout(() => {
                    this.proses_ganti_domain = false;
                }, 40000)
                axios.post('/website/' + this.website.id + '/change-domain', {
                    domain
                }).then(response => {
                    if (response.data == 'OK') {
                        this.website.main_domain = domain;
                        this.change_domain_berhasil = true;
                        this.changeDomainModal = false;
                        this.step_ganti_domain = 1;
                    } else {
                        this.error_list = response.data;
                    }
                })
            }
        }
    }

</script>
