<template>
    <app-layout>
        <template #header>

        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="py-12">
                    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                            <div>
                                <div class="p-6 sm:px-20 py-12 bg-white border-b border-gray-200">

                                    <form @submit.prevent="submitForm" class="space-y-8 divide-y divide-gray-200">
                                        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                                            <div>
                                                <div>
                                                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                        SERVER FORM
                                                    </h3> 
                                                </div>

                                                <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">

                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="domain"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Server URL
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="text" v-model="server.server_url" name="server_url"
                                                                id="domain"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="db_domain"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Phpmyadmin URL
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="text" v-model="server.db_url" name="db_url"
                                                                id="db_domain"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="db_domain"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Wildcard Domain
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="text" v-model="server.wildcard_domain" name="wildcard_domain"
                                                                id="db_domain"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                 
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="server_id"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Server ID
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="number" v-model="server.server_id"
                                                                name="server_id" id="server_id"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="api_key"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            api_key
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="text" v-model="server.api_key"
                                                                name="api_key" id="api_key"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="api_password"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            api_password
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="text" v-model="server.api_password"
                                                                name="api_password" id="api_password"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="limit"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            limit
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="number" v-model="server.limit" name="limit"
                                                                id="limit"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="usage"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            usage
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="number" v-model="server.usage"
                                                                name="usage" id="usage"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                  
                                                   

 


                                                </div>
                                            </div>

                                        </div>

                                        <div class="pt-5">
                                            <div class="flex justify-end">
                                                <inertia-link href="/dashboard"
                                                    class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                    Kembali
                                                </inertia-link>
                                                <button type="submit"
                                                    class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                    Simpan
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import {
        Inertia
    } from '@inertiajs/inertia'
    export default {
        components: {
            AppLayout
        }, 
        data: () => ({

            server: {
                server_id : '',
                server_url: '',
                api_key : '',
                api_password: '',
                limit : 400,
                usage : 0,
                provider : 'ploi'
            }
        }),
        mounted() {   
            if(this.$page.props.server)
            {
                this.server = this.$page.props.server;
            }
               
        },
        methods: {
            submitForm() {
                this.server.remains = this.server.limit - this.server.usage;  
                if(this.server.id)
                {
                    Inertia.put('/server/'+this.server.id, this.server)
                }else{
                    Inertia.post('/server', this.server)
                }
                
            }
        }
    }

</script>
