<template>
    <app-layout>
        <template #header>

        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="py-12">
                    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                            <div>
                                <div class="p-6 sm:px-20 py-12 bg-white border-b border-gray-200">

                                    <form @submit.prevent="submitForm" class="space-y-8 divide-y divide-gray-200">
                                        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                                            <div>
                                                <div>
                                                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                                                        DOMAIN FORM
                                                    </h3> 
                                                </div>

                                                <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">

                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="name"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Domain
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="text" v-model="domain.name" name="name"
                                                                id="name"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="zone_id"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Zone ID
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="text" v-model="domain.zone_id" name="zone_id"
                                                                id="zone_id"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                     <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="cloudflare_email"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Cloudflare Email
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="text" v-model="domain.cloudflare_email" name="zone_id"
                                                                id="cloudflare_email"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                     <div
                                                        class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                                        <label for="cloudflare_auth"
                                                            class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                                            Cloudflare Auth
                                                        </label>
                                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                                            <input type="text" v-model="domain.cloudflare_auth" name="zone_id"
                                                                id="cloudflare_auth"
                                                                class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                                        </div>
                                                    </div>
                                                    
                                                        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email">
                    Domain Aktif
                  </div>
                </div>
                <div class="mt-4 sm:mt-0 sm:col-span-2">
                  <div class="max-w-lg space-y-4">
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <input id="auto_backup" v-model="domain.is_active" name="auto_backup" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                      </div>
                      <div class="ml-3 text-sm">
                        <label for="auto_backup" class="font-medium text-gray-700">Aktif</label>
                        <p class="text-gray-500">menampilkan domain di website creation.</p>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
                                                 
                                                     
                                                   

 


                                                </div>
                                            </div>

                                        </div>

                                        <div class="pt-5">
                                            <div class="flex justify-end">
                                                <inertia-link href="/domain"
                                                    class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                    Kembali
                                                </inertia-link>
                                                <button type="submit"
                                                    class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                    Simpan
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import {
        Inertia
    } from '@inertiajs/inertia'
    export default {
        components: {
            AppLayout
        }, 
        data: () => ({

            domain: {
                name : '',
                is_active : true,
                cloudflare_email : '',
                cloudflare_auth : '',
                zone_id : ''
            }
        }),
        mounted() {   

            if(this.$page.props.domain)
            {
                this.domain = this.$page.props.domain;
                if(this.domain.is_active)
                {
                    this.domain.is_active = true;
                }
            }
               
        },
        methods: {
            submitForm() {  
                if(this.domain.id)
                {
                    Inertia.put('/domain/'+this.domain.id, this.domain)
                }else{
                    Inertia.post('/domain', this.domain)
                }
                
            }
        }
    }

</script>
