<template>
    <app-layout>
        <template #header> 
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                   <div class=" ">
    <div class=" ">
      <div class=" ">
        <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow">
          
  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
      <div class="ml-4 mt-2">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          LIST DOMAIN
        </h3>
      </div>
      <div class="ml-4 mt-2 flex-shrink-0">
          <inertia-link  href="/domain/create"><Button>DOMAIN BARU</Button></inertia-link>
      </div>
    </div>
  </div>

           <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Domain
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Is Active
                </th> 
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody x-max="2">
              
                <!-- Odd row -->
                <tr class="bg-white" v-for="domain in domains">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    {{domain.name}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                   {{domain.is_active}}
                  </td> 
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <inertia-link :href="`/domain/${domain.id}/edit`" class="text-indigo-600 hover:text-indigo-900">Edit</inertia-link>
                  </td>
                </tr>
               
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout' 
       import UserHeader from '@/Pages/Profile/UserHeader'
      import Button from '@/Jetstream/Button'
    export default {
        props :  ['domains'],
        components: {
            AppLayout, 
            Button,
            UserHeader
        },
        mounted(){ 
        }
    }
</script>
