<template>
    <div class="  md:flex md:items-center md:justify-between ">
        <div class="flex-1 min-w-0">
            <!-- Profile -->
            <div class="flex items-center">
                <img class="hidden h-16 w-16 rounded-full sm:block"
                   :src="user.profile_photo_url"
                    alt="">
                <div>
                    <div class="flex items-center">
                        <img class="h-16 w-16 rounded-full sm:hidden"
                            :src="user.profile_photo_url"
                            alt="">
                        <h1 class="ml-3 text-2xl font-bold leading-7 text-gray-900 sm:leading-9 sm:truncate">
                            Good morning, {{user.name}}
                            
                        </h1>
                    </div>
                    <dl class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
                        
                        <dt class="sr-only">Account status</dt>
                        <dd v-if="user.email_verified_at" class="mt-3 flex items-center text-sm text-gray-500 font-medium sm:mr-6 sm:mt-0 capitalize">
                            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400"
                                x-description="Heroicon name: check-circle" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            
                            Verified account
                        </dd>
                        <dd class="mt-3 flex items-center text-sm text-red-500 font-medium sm:mr-6 sm:mt-0 capitalize">
                           Email belum diverifikasi
                        </dd>
                        
                    </dl>
                </div>
            </div>
        </div>
        <div class="mt-6 flex space-x-3 md:mt-0 md:ml-4">

        </div>
    </div>
</template> 
<script>
 import Button from '@/Jetstream/Button'
export default {
    components:{
        Button
    },
    computed: {
      user() {
        return this.$page.props.user
      }
    }
}
</script>